{% extends 'layout.html' %}



{% block title %}Avance{% endblock %}



{% block jquery_script %} 
<script>
$(document).ready(function(){
{% for n, centro in info.iterrows() %}
    $("#show{{n}}").click(function(){
        $("#showcontainer{{n}}").fadeToggle(150);
        $("#details-icon{{n}}").fadeToggle();
        return false;
  });
{% endfor %}
});



$(document).ready(function(){
    $.getJSON("{{ url_for('static', filename='data/progress.json') }}?r=" + Math.random()).done(function(data) {
{% for n, centro in info.iterrows() %}
var total{{n}} = 0;
var i{{n}} = 0;
    {% for m, form in forms[centro['Cod']].iterrows() %}
            var p{{n}}_{{m}} = data["{{centro['Cod']}}"]["{{form['Nombre Módulo']}}"];
            $("#{{centro['Cod'] + form['Nombre Módulo'].replace(' ', '')}}").attr('aria-valuenow', p{{n}}_{{m}});
            $("#{{centro['Cod'] + form['Nombre Módulo'].replace(' ', '')}}").css('width', p{{n}}_{{m}}.toString()+'%');
            $("#{{centro['Cod'] + form['Nombre Módulo'].replace(' ', '')}}").children('span').text(p{{n}}_{{m}}.toString()+'%');
            total{{n}} = total{{n}} + p{{n}}_{{m}};
            i{{n}} = i{{n}} + 1;
    {% endfor %}

total{{n}} = (total{{n}}/i{{n}}).toFixed(0);

$("#{{centro['Cod']}}").attr('aria-valuenow', total{{n}});
$("#{{centro['Cod']}}").css('width', total{{n}}.toString()+'%');
$("#{{centro['Cod']}}").children('span').text(total{{n}}.toString()+'%');

{% endfor %}

    });

});




</script>
{% endblock %}



{% block body %}

{% for n, centro in info.iterrows() %}
<div class="row">
    <div class="col-12">
        <div class="card" style="margin-bottom: 15px;">
            <div class="card-block">
                <h4>
                    {{centro['Nombre']}}<a href="{{url_for('input', cod=centro['Cod'])}}" target="_blank"><i class="fa fa-external-link m-l-10" aria-hidden="true"></i>
                    </a>
                        <a class="m-r-10" id="show{{n}}" href="#" style="float: right;"><i id="details-icon{{n}}" class="fa fa-angle-down m-r-10" aria-hidden="true" style="display:none;"></i>Detalles</a>
                </h4>


                <div class="row">
                    <div class="col m-t-15  m-b-15">
                        <div class="progress">
                            <div id="{{centro['Cod']}}" class="progress-bar bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                <span style="color:#eceeef;">0%</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="showcontainer{{n}}" class="container" style="display: none;">

                    {% for n, form in forms[centro['Cod']].iterrows() %}
                        <div class="row">
                            <div class="col-md-4">
                                <label><i class="fa {{form['Icon']}} m-r-10" aria-hidden="true"></i>{{form['Nombre Módulo']}}<a href="{{form['Link']}}" target="_blank"><i class="fa fa-external-link m-l-10" aria-hidden="true"></i></a></label>
                            </div>
                            <div class="col-md-8">
                                <div class="progress">
                                    <div id="{{centro['Cod'] + form['Nombre Módulo'].replace(' ', '')}}" class="progress-bar" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                        <span style="color:#eceeef;">0%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}  

                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
