{% extends 'layout.html' %}
{% from "macros.html" import centros_region %}

{% block title %}Inicio{% endblock %}

{% block body %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                Información de Contacto de cada uno de los centros.
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        {{ centros_region('Región Metropolitana', csv[csv['Región']=='Metropolitana']) }}
        {{ centros_region('Región de Valparaíso', csv[csv['Región']=='Valparaíso']) }}
        {{ centros_region('Región del Bio Bio', csv[csv['Región']=='Bio Bio']) }}
        {{ centros_region('Región de los Ríos', csv[csv['Región']=='Los Ríos']) }}    
    </div>
</div>
{% endblock %}
