            <div class="container-fluid">

                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">{{ title_s }}</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ url_for('index')}}">Home</a></li>
                            <li class="breadcrumb-item active">{{ title_s }}</li>
                        </ol>
                    </div>
                </div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                Esta es la página de inicio, que tendrá un breve mensaje de descripción y links a las demás funcionalidades.
            </div>
        </div>
    </div>
</div>
            </div>


