{% extends 'layout_input.html' %}

{% block title %}Formularios{% endblock %}

{% block jquery_script %} 
<script>
$(document).ready(function(){
  $(".togHome").click(function(){
    $("#inputHome").fadeIn(500);
    $("#forms").hide();
    $("#sheets").hide();
  });
});

$(document).ready(function(){
{% for n, row in layout.iterrows() %}
{% if 'qualtrics' in row['Link'] %}
  $(".{{row['tog']}}").click(function(){
    $("#qualtrics").attr("data", "{{row['Link']|safe}}");
    $("#forms").fadeIn();
    $("#inputHome").hide();
    $("#sheets").hide();
  });
{% else %}
  $(".{{row['tog']}}").click(function(){
    $("#google").attr("data", "{{row['Link']|safe}}");
    $("#sheets").fadeIn();
    $("#inputHome").hide();
    $("#forms").hide();
  });
{% endif %}
{% endfor %}
});
</script>
{% endblock %}


{% block dropdown%} 
    <a href="#" class="togHome dropdown-item" class="waves-effect"><i class="fa fa-info-circle m-r-10" aria-hidden="true"></i>Instrucciones</a>
    {% for n, row in layout.iterrows() %}
    <a href="#" class="tog{{row['Nombre Módulo'].replace(' ', '')}} dropdown-item" class="waves-effect"><i class="fa {{row['Icon']}} m-r-10" aria-hidden="true"></i>{{row['Nombre Módulo']}}</a>
    {% endfor %}
{% endblock %}


{% block sidebar%} 
    <li><a href="#" class="togHome waves-effect"><i class="fa fa-info-circle m-r-10" aria-hidden="true"></i>Instrucciones</a></li>
    {% for n, row in layout.iterrows() %}
    <li><a href="#" class="tog{{row['Nombre Módulo'].replace(' ', '')}} waves-effect"><i class="fa {{row['Icon']}} m-r-10" aria-hidden="true"></i>{{row['Nombre Módulo']}}</a></li>
    {% endfor %}
{% endblock %}

{% block body %}

<div id="inputHome" class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Instrucciones</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('index')}}">Home</a></li>
                <li class="breadcrumb-item active">Instrucciones</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-block pt-4 px-5">
                    <div class="alert alert-danger mb-4"><code>Importante:</code> La plataforma está en programa piloto, por lo tanto puede sufrir modificaciones. Cualquier duda, escribir a <a href="mailto:ias.vais.osl@gmail.com">ias.vais.osl@gmail.com</a>.</div>

<h5>¡Bienvenid@!</h5>
<p>Esta pagína web está diseñada para hacer lo más sencillo posible el poceso de reporte de información para el estudio de costos de los programas VAIS y OSL del SENDA. A continuación le explicaremos brevemente cómo funciona la página.</p>
<p>Al costado izquierdo hay una barra lateral con 7 iconos. El primero es esta página: las instrucciones. Los 6 restantes representan cada uno de los módulos de información. Estos son:</p>

<ul>
<li>Personal y Usuarios: </li>
<li>Vivienda/Oficina</li>
<li>Mobiliario</li>
<li>Gastos Básicos</li>
<li>Otros Gastos</li>
<li>Costos Indirectos</li>
</ul>

<p>Si presiona en cualqueira de ellos verá una página como la siguiente, en la cual encontrará la siguiente información:</p>

<div class="p-4">
<img src="{{ url_for('static', filename='images/first_page.png') }}" class="img-fluid w-50 img-thumbnail rounded mx-auto d-block">
</div>

<p>En cada página encontrará requerimientos de información e instrucciones de como llenarla. Encontrará un botón de <b class="text-themecolor">Siguiente</b> y un botón de <b class="text-themecolor">Atrás</b>, estos le permitirá navegar hacia adelante y hacia atrás en la encuesta. De este modo, si tiene un dato que queire cambiar, puede hacerlo con el boton de Atrás.</p>
<div class="p-4">
<img src="{{ url_for('static', filename='images/second_page.png') }}" class="img-fluid w-50 img-thumbnail rounded mx-auto d-block">
</div>
<p>La pestaña de costos indirectos en distinta, y se completa como cualquier planilla de Excel. Es recomendable contestar esta sección con apoyo del contador de la institución.</p>
<p>Tenga en consideracion lo siguiente:
    <ul> 
<li>Puede acceder a la página desde cualquier tipo de dispositivo (computador, tablet o celular)</li>
<li>La pagina guarda su avance, por lo tanto puede contestar una parte de la encuesta en un momento y luego retomar para terminar el resto.</li>
<li>Este estudio pretende recoger información sobre todos los gastos en los que incurre la institución, por lo tanto debe reportar todos los gastos, independiente de si fueron financiados por el SENDA o financiamiento propio.</li>
<li>Cualquier duda puede escribir a <b class="text-themecolor">ias.vais.osl@gmail.com</b>.</li>
    </ul>
</p>


                </div>
            </div>
        </div>
    </div>
</div>

<div id="sheets" class="container-fluid bg-white" style="display:none; padding: 0;">
    <div class="row" style="height: 1500px; min-height: 100%;">
        <object id="google" type="text/html" data="" width="100%" height="100%" style="overflow:hidden;"></object>
    </div>
</div>

<div id="forms" class="container-fluid bg-white" style="display:none;">
    <div class="row" style="height: 1500px; min-height: 100%;">
        <div class="offset-md-2 col-md-8">
            <object id="qualtrics" type="text/html" data="" width="100%" height="100%" style="overflow:hidden;"></object>
        </div>
    </div>
</div>


{% endblock %}
