{% extends 'header.html' %}

{% block title %}Mapa{% endblock %}

{% block body %}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Centros VAIS</h4>
                <div id="gmaps-simple" class="gmaps" height="100%">
                	<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1BCFPfl5xUQE-Btt1tC_ICticJwqOCKoQ" width="100%" height="100%"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
